<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="PaperFormat" value="A4" />
		<add key="IsDoubleSided" value="True" />
		<add key="ColorMode" value="RGB" />
		<add key="PaperSource" value="Tray 1" />
		<add key="Copies" value="1" />
		<!-- Добавьте другие настройки здесь -->
	</appSettings>
</configuration>
